.icons_top,
.caption1
{
    display: none;
}

@media only screen and (max-width: 768px){

    .fg_center {
        max-width: 100%;
        height: auto;
    }

    .bg_main {
        max-width: 100%;
        padding: 0 20px;
    }

    
    .logo a {
        font-size: 18px;
        font-weight: 600;
    }
    
    /* ================= RESPONSIVE HEROE SECTION =============== */
    .heroe_1 {
        flex-direction: column;
        margin: auto;
        row-gap: 30px;
    }
    .left_sec .project_head .h_1 {
       width: auto;
    }

    .left_sec h1{
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
        width: 80%;
    }

    .left_sec line{
        height: 2px;
        width: 80px;
    }
    .s_t {
    font-size: 12px;
    }
    
    .foot_img img {
        display: none;
    }
    .d_img {
        margin: auto;
        background-position: center;
        background-size: auto;
        height: 514px;
        margin-bottom: 50px
    }
    

    .icons_top1 a>i {
        font-size: 26px;
    }
    .icons_top1 {
        display: flex;
        position: absolute;
        padding: 22px 0px;
        column-gap: 20px;
    }


    }
    .nav {
        outline: none;
        border: none;
        display: flex;
    }

    .caption {
        display: none;
    }

    .caption1 {
        position: absolute;
        column-gap: 14px;
        display: flex;
    }
    

    .line {
        width: 120px;
    }


    .s_t {
        padding: 120px 0px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    
    .slide_container {
        flex-direction: column;
        margin-bottom: 70px;
        row-gap: 30px;
    }

    .head_1 {
        font-size: 20px;
    }

    .set_img_1>img {
        height: 385px;
        margin: auto;
    }

    .buttons {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .nums
    {
        position: absolute;
        top: -25px;
        font-weight: 600;
        font-size: 80px;
    }
    .splide .splide__pagination__page {
        width: 9em;
    }
    .splide .splide__pagination
    {
        width: 100%;
    }

    .splide .splide__arrows {
        right: 0px;
    }

    .purple_col {
        margin-right: 0px;
    }

    .hd_btn {
        width: auto;
        padding: 14px 53px;
    }

}

@media only screen and (max-width: 1424px) and (min-width:768px){
    .nav {
        width: auto;
    }

    section {
        width: auto;
        padding: 0px 22px;
    }

    .hero__main {
        padding-top: 0px;
    }

    .grid__center {
        width: 100%;

    }
    .form__con {
        width: 100%;
    }
    .banner img {
        width: 100%;
        right: 0px;
    }

    .min_box {
        padding: 0px 15px;
    }
    .bx__grid {
        padding: 0px;
        margin: 100px 0px;
    }

    .grid__box {
        background-position: center;
    }

    .headline {
        width: 100%;
    }
    .grid__sm__box {
        padding: 0px;
        column-gap: 20px;
    }

    .box1 {
        padding: 14px;
    }
    .grid__box {
        width: 100%;
    }


    .abt_sec {
        padding: 0px 20px;
        margin: 100px 0px;
    }


    .abt__image {
        width: 334px;
        margin: 0px 20px;
    }

    .abt__par {
        margin: 0px 23px;
        font-size: 13px;
    }

    .items .list a {
        font-size: 16px;
    }

    .outer__bx {
        margin: auto;
    }


    .connect__23 {
        bottom: 30px;
        right: 15px;
    }

    .up::after {
        margin-left: 0px;
        right: 44px;
    }

}

@media only screen and (max-width: 550px){

    .splide .splide__pagination__page 
    {
        width: 8em !important;
    }

    .splide .splide__pagination
    {
        justify-content: space-between !important;
    }

    .set_img_1 {
        width: auto;
        height: auto;
    }
    .set_img_1>img {
        height: auto;
        width: 100%;
    }

    .head_1,
    .line_1 {
        width: 100%;
    }
    .left_sec h1 {
        width: 100% !important;
        font-size: 18px;
    }

    .p_hd {
        font-size: 14px;
    }

    .d_img {
        
        background-position: top;
        height: 440px;
    }

}
@media only screen and (max-width: 450px){

    .hd_btn {
        padding: 8px 15px;
    }
    .splide .splide__pagination__page {
        width: 5em !important;
    }
    
    
    .left_sec h1 {
        width: 100% !important;
        font-size: 15px;
    }
    
}

@media only screen and (max-width: 350px){

    .splide .splide__pagination__page {
        width: 4em !important;
    }
   
    .p_hd {
        font-size: 13px;
    }
    .head_1 {
        font-size: 16px;
    }

    .head_1,
    .line_1 {
        width: 100%;
    }










}