.icons_top1,
.caption1
{
    display: none;
}


@media only screen and (max-width: 768px){

    .fg_center {
        max-width: 100%;
        height: auto;
    }

    .icons_top
    {
        display: none;
    }

    .bg_main {
        max-width: 100%;
        padding: 0 20px;
    }
    .dev_img_1 img{
        width: 50%;
    }

    .p_hd {
        margin-top: 6px;
    }

    .caption .img_1{
        transform: scale(.7);
    }
    .e_1 {
        width: 80%;
    }

    .arrow {
        padding: 8px;
        border-radius: 8px;
    }
    .arrow i {
        font-size: 28px;
    }

    
    .logo a {
        font-size: 18px;
        font-weight: 600;
    }

    .line_1 {
        width: 60px;
    }
    /* ================= RESPONSIVE HEROE SECTION =============== */
    .heroe_1 {
        flex-direction: column;
        margin: auto;
        row-gap: 30px;
    }
    .left_sec .project_head .h_1 {
       width: auto;
    }

    .left_sec h1{
        font-size: 24px;
        line-height: 40px;
    }

    .left_sec line{
        height: 2px;
        width: 80px;
    }
    .s_t {
    font-size: 12px;
    }
    
    .foot_img img {
        display: none;
    }
    .d_img {
        margin: auto;
        background-position: center;
        background-size: cover;
        margin-bottom: 50px;
        width: 380px;
        height: 417px;
    }
    

    .icons_top1 a>i {
        font-size: 34px;
    }
    .icons_top1 {
        display: flex;
        position: absolute;
        padding: 30px 0px;
        column-gap: 35px;
    }


    
    .nav {
        outline: none;
        border: none;
        display: flex;
    }

    .caption {
        display: none;
    }

    .caption1 {
        position: absolute;
        column-gap: 14px;
        display: flex;
    }
    

    .line {
        width: 120px;
    }


    .s_t {
        padding-top: 170px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .set_img_1 {
        width: auto;
        height: auto;
    }
    .slide_container {
        flex-direction: column;
        margin-bottom: 50px;
        row-gap: 30px;
    }

    .head_1 {
        font-size: 20px;
    }

    .set_img_1>img {
        height: 385px;
        margin: auto;
    }

    .buttons {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .nums
    {
        position: absolute;
        top: -32px;
        font-weight: 600;
        font-size: 50px;
    }
    .splide .splide__pagination__page {
        width: 7em;
    }
    .splide .splide__pagination
    {
        width: 100%;
    }

    .splide .splide__arrows {
        right: -1em;
        transform: scale(0.7);
    }

    .purple_col {
        margin-right: 0px;
    }

    .hd_btn {
        width: auto;
        padding: 14px 53px;
    }

    #ripple img{
        height: 14em;
    }

    .circli_2,
    .circli_3,
    .circli_4
    {
        position: absolute;
    }
    .project_head{
        margin: 0px;
    }
}

/* ===================== MAC BOOK RESPONSIVE DEVICE ============================= */

@media only screen and (max-width: 1652px) and (min-width:1444px)
{
    /* .d_img {
        width: 00px;
    } */
    .set_img_1>img {
        height: 555px !important;
    }
}
@media only screen and (max-width: 1400px) and (min-width:1444px)
{
    .d_img {
        width: 550px;
    }
    .set_img_1>img {
        height: 500px !important;
    }
    .slide_container {
        height: 70em;
    }
    h1 {
        font-size: 40px !important;
    }
    .splide .splide__pagination__page {
        width: 16em;
    }

}
@media only screen and (max-width: 1200px) and (min-width:1444px)
{
    .d_img {
        width: 500px;
    }
    .set_img_1>img {
        height: 400px !important;
    }
    .splide__track{
        height: 55em;
    }
    .slide_container {
        height: 55em !important;
    }
    .p_hd {
        font-size: 22px !important;
    }
    .head_1 {
        font-size: 35px !important;
    }
    
}
@media only screen and (max-width: 1815px) and (min-width:1440px)
{
    .splide .splide__pagination__page 
    {
        width: 17em;
    }

}
@media only screen and (max-width: 2080px) and (min-width:1815px)
{
    .splide .splide__pagination__page {
        width: 25em;
    }
}
@media only screen and (max-width: 2080px) and (min-width:1650px)
{
    .d_img {
        width: 790px;
    }
 
    
}

@media only screen and (max-width: 2080px) and (min-width:1444px)
{
    
    .heroe {
        margin-top: 70px;
    }

    .set_img_1>img {
        height: 470px;
    }

    .project_head {
        margin-bottom: 40px;
        margin-top: 40px;
    }
    

    .fg_center {
        width: 90%;
    }

    .icons_top a>i {
        font-size: 35px;
    }
    .d_img {
        width: 500px;
        height: 580px;
        background-size: cover;
        background-position: center;
    }

    .hd_btn {
        padding: 14px 16px;
    }

    h1 {
        font-size: 40px;
        line-height: 75px;
    }
    .caption>h3 {
        font-size: 35px;
    }
    .line {
        width: 260px;
        margin: 50px 0px;
    }
    .caption img {
        transform: scale(1.2);
    }

    .nums {
        top: 35px;
    }

    .nav_bar {
        height: 100% !important;
    }
    .caption {
        column-gap: 90px;
    }

    .s_t {
        font-size: 20px;
        padding-top: 50px;
    }

    .icons_top {
        margin-top: 70px;
    }

    .logo a {
        font-size: 30px;
    }

    .form .link_1 a {
        font-size: 26px;
    }

    .link_1 span {
        top: -40px;
        font-size: 37px;
        left: 75px;
    }

    .nav {
        height: 120px;
    }
    .line_1 {
        width: 150px;
    }

    .head_1 {
        font-size: 40px;
        line-height: 50px;
    }
    .p_hd {
        font-size: 20px;
        line-height: 50px;
    }

    .text_1>p {
        font-size: 20px;
    }
    .heroe_1 {
        column-gap: 78px;
    }

    .top_heroe {
        margin-top: 100px;
    }
    .set_img_1 {
        width: auto;
        height: auto;
        margin-left: 10px;
    }

    .slide_container{
        column-gap: 100px;
    }
   
    .splide .splide__pagination {
        bottom: -50px;
    }
    /* .splide .splide__pagination__page {
        width: 24em;
    } */
  
    .project_head {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .dev_img_1 img {
        height: auto;
    }
    .splide .splide__arrows {
        bottom: -9em;
    }    
    .h1_hd
    {
        font-size: 40px;
    }
    .t1 {
        margin-right: 30px;
    }

    .typ_1 {
        padding: 16px;
        font-size: 16px;
        justify-content: center;
    }

    .display_btn {
        margin-bottom: 30px;
        margin-top: 85px;
    }
    .hd_btn {
        padding: 20px 60px;
    } 
    .side_text {
        position: relative;
        bottom: -5em;
    }

    .splide .splide__arrows .splide__arrow--prev, 
    .splide .splide__arrows .splide__arrow--next 
    {
        width: 4em;
        height: 4em;
    }
    .splide .splide__arrows img {
        transform: scale(0.06);
    }


}



/* ======================= DESKTOP SCREEN DEVICE ======================================= */

@media only screen and (max-width: 1024px) and (min-width:768px)
{
    .nav {
        width: auto;
    }

    .fg_center {
        max-width: 100%;
        /* width: 100%; */
        height: auto;
    }

    .bg_main {
        max-width: 100%;
        padding: 0 20px;
    }

    .set_img_1 {
        height: 270px;
    }

    .set_img_1>img {
        height: 100%;
    }
    .nums{
        top: -27em;
    }
    .p_hd {
        font-size: 14px;
        margin: 0px 0px 45px 0px;
    }

    .fg_center {
        width: 100%;
    }

    .nav_bar {
        height: 100%;
    }
    /* .splide__track {
        height: 55em !important;
    } */
    .splide .splide__pagination__page {
        width: 15em;
    }

    .slide_container{
        height: 27em !important;
    }
  .hd_btn {
        padding: 13px 20px;
    }

}
@media only screen and (max-width: 1227px) and (min-width:986px){
    .set_img_1>img {
        height: 100%;
    }

    .set_img_1 {
        height: 400px;
    }

    .slide_container {
        height: 40em;
    }

    .nums {
        top: 0em;
    }
    .fg_center {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
    .nav_bar {
        height: 100%;
    }

    .bg_main {
        max-width: 100%;
        padding: 0px 20px;
    }

    .splide .splide__pagination__page {
        width: 14em;
    }

}
@media only screen and (max-width: 1018px) and (min-width:986px){
    .set_img_1>img {
        height: 100%;
    }

   
    .set_img_1 {
        height: 280px;
    }
    .slide_container {
        height: 400px;
    }
    .nums {
        top: 0em;
    }
  
}
@media only screen and (max-width: 1027px) and (min-width:1018px){
  
    .splide__track {
        height: 30em;
    }
  
}
@media only screen and (max-width: 986px) and (min-width:768px){
    .set_img_1>img {
        height: 100%;
    }

    .set_img_1 {
        height: 280px;
    }
    .slide_container {
        height: 50em;
    }
    .nums {
        top: 0em;
    }
    .splide .splide__pagination__page {
        width: 9em;
    }

}

/* ============================= MOBILE DEVICE SCREEN RESOLUTIONS ================================ */

@media only screen and (max-width: 550px){

    .splide .splide__pagination__page 
    {
        width: 6em !important;
    }

    .splide .splide__pagination
    {
        justify-content: space-between !important;
    }

    .set_img_1 {
        width: auto;
        height: auto;
    }
    .set_img_1>img {
        height: auto;
        width: 100%;
    }
    .left_sec h1 {
        font-size: 18px;
    }

    .p_hd {
        font-size: 14px;
    }

    .d_img {
        
        background-position: top;
        height: 440px;
    }

}
@media only screen and (max-width: 450px){

    .hd_btn {
        padding: 8px 15px;
    }
    .splide .splide__pagination__page {
        width: 4em !important;
    }
    
    
    .left_sec h1 {
        font-size: 15px;
    }
    
}

@media only screen and (max-width: 350px){

    .splide .splide__pagination__page {
        width: 3em !important;
    }
   
    .p_hd {
        font-size: 13px;
    }
    .head_1 {
        font-size: 16px;
    }


}