* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Gilroy';
    scroll-behavior: smooth;
    height: 100%;
}


body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-height: 100%;
    height: 100%;
    background: #0F1E31;
}

.fg_center {
    width: 1224px;
    height: auto;
    margin: auto;
    box-sizing: border-box;
}


.bg_main {
    max-width: 100%;
    /* height: 100%; */
    /* background: #0F1E31; */
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ================= NAVIGATION SECTION  ============ */
.nav {
    height: 100px;
    /* background: #0F1E31; */
}

.nav_bar {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
}



.buttons {
    width: auto;
    height: auto;
}
.logo {
    width: auto;
    height: auto;
}

.logo a {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
    color: #FFFFFF;
    transition: .4s ease linear;
}
.logo a:hover {
    color: #E0245E;
}

.form .link_1 a:hover{
    color: #E0245E;
}

/* .form .active a{
    color: #E0245E !important;
} */

.active {
    visibility: unset !important;
    color: #E0245E
}
/* .form .active span{
    visibility: unset !important;
} */

.links {
    width: auto;
    max-height: 100%;
}

input[type=radio] {
    display: none;
}

.form {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 100px;
}

.form .link_1 a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* line-height: 100px; */
    color: #FFFFFF;
    cursor: pointer;
    transition: .4s ease linear;
}


.bars {
    display: none;
}

.link_1 span {
    position: relative;
    top: -27px;
    font-size: 21px;
    color: #E0245E;
    text-align: center;
    left: 48px;
    animation-name: arrow;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    visibility: hidden;
}


.form .link_1:hover > span{
    visibility: unset;
}

@keyframes arrow {
    0% {
        top: -27px;
        opacity: 0;

    }
    100% {
        top: -19px;
        opacity: 1;
    }
}



.active a {
    color: #eeeeee !important;
}


/* = sticky header */
.sticky {
    z-index: 9999;
    position: sticky;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 100px rgb(0 0 0 / 25%);
}

.show {
    left: 0px !important;
}

@media only screen and (max-width: 768px) {

    /* RESET NAV CODE */
    .items {
        width: initial;
        height: initial;
        display: initial;
        justify-content: initial;
        align-items: initial;
    }

    /* .active::before {
        content: initial;
        position: initial;
        width: initial;
        height: initial;
        top: initial;
        background: initial;
        border-radius: initial;
        display: initial;
        margin: initial;
    } */

    /* CODE FOR RESPONSIVE SCREEN */
    .links {
        position: fixed;
        top: 0;
        left: -100%;
        max-width: 100%;
        width: 80%;
        height: 100%;
        background: #0F1E31;
        z-index: 9999;
        padding-top: 100px;
        transition: .8s ease all;
    }

    .sub_ico {
        column-gap: 10px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center;
    }
    .sub_ico a i {
        font-size: 19px !important;
    }

    .form {
        flex-direction: column;
        row-gap: 50px;
        margin: 10px;
    }

    .bars {
        display: block;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }

}

/* ================= END NAVIGATION SECTION  ============ */

/* -==== Constant objecct design-====== */

.heroe_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right_sec,
.left_sec {
    width: 100%;
    height: auto;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.purple {
    color: #E0245E;
}

.yellow {
    color: #EAA221;
}

.line {
    width: 177px;
    height: 4px;
    background: white;
    border: none;
    outline: none;
    margin: 50px 0px;
    display: block;
    border-radius: 50px;
}

.caption {
    display: flex;
    align-items: center;
    /* justify-content: stretch; */
    column-gap: 40px;
    width: auto;
    height: auto;
}

.caption>h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.caption .img_1 {
    font-size: 35px;
}

.caption>i {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.icons_top {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 31px;
    width: auto;
    height: auto;
    margin-top: 43px;
}

.icons_top a>i {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    transition: .5s ease all;
}
.icons_top a:hover > i {
    color: #E0245E;
}

.right_sec>img {
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: bottom;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
}

.right_sec {
    display: flex;
    justify-content: flex-end;
}

.d_img {
    box-sizing: border-box;
    width: 450px;
    height: 536px;
    background-image: url(../img/me.png);
    background-repeat: no-repeat;
    background-position-x: -75px;
    background-position-y: -50px;
    background-size: auto;
    border: 10px solid white;
    border-radius: 14px;

}

.icons_top {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.s_t {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 44px 0px;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.bxs-heart {
    color: #5DADEC;
    font-weight: 20px;
}

/* ================= HEROE SECTION  ============ */


.slide_container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
}

.img_head,
.text_head {
    width: 100%;
    height: auto;
}

.set_img_1 {
    width: auto;
    height: 500px;
    overflow: hidden;
}

.set_img_1>img {
    height: 470px;
}

.head_1 {
    font-size: 24px;
    font-weight: 600;
}

.project_head {
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.line_1 {
    width: 150px;
    height: 4px;
    background: white;
    border: none;
    outline: none;
    display: block;
    border-radius: 50px;
}

.text_head {
    width: auto;
    height: auto;
}

 .nums {
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 124px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #EAA221;
    position: absolute;
    right: 0px;
    top: 35px;
}

.splide__arrow--prev svg,
.splide__arrow--next svg {
    display: none;
}

.splide .splide__arrows .splide__arrow--prev, 
.splide .splide__arrows .splide__arrow--next {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    padding: 23px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
}

.splide .splide__arrows  img{
    transform: scale(.04);
}

.h1_hd {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    color: #FFFFFF;
}

.p_hd {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 45px;
}

.hd_btn {
    width: 200px;
    height: auto;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s ease linear;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 14px 16px;
    border: 1px solid #ffffff;
    cursor: pointer;
}

.purple_col {
    background: #E0245E;
    margin-right: 30px;
    border: none;
}

.hd_btn:hover {
    filter: brightness(0.5);
}

.flex {
    display: flex;
    column-gap: 20px;
    align-items: center;
}


.p_hd {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 50px 0px;
}

.text_1 {
    width: 100%;
    height: auto;
}

.text_1>p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    color: #FFFFFF;
}

.yellow1 {
    color: #EAA221;
    text-decoration: underline;
}

.lk {
    color: white;
    text-decoration: underline;
}


.circli_1 {
    position: fixed;
    width: 88px;
    height: 88px;
    background: #EAA221;
    border-radius: 50%;
    z-index: 9999999;
}

.circli_2 {
    position: fixed;
    width: 77px;
    height: 77px;
    background: #E0245E;
    border-radius: 50%;
    z-index: 9999999;
}

.circli_3 {
    position: fixed;
    width: 66px;
    height: 66px;
    background: #E0245E;
    border-radius: 50%;
    z-index: 9999999;
}


.circli_4 {
    position: fixed;
    width: 40px;
    height: 40px;
    background: #EAA221;
    border-radius: 50%;
    z-index: 9999999;
}
.circli_5 {
    position: fixed;
    width: 40px;
    height: 40px;
    background: #EAA221;
    border-radius: 50%;
    z-index: 9999999;
}

.circli_6 {
    position: fixed;
    width: 88px;
    height: 88px;
    background: #EAA221;
    border-radius: 50%;
    z-index: 9999999;
}

.circli_7 {
    position: fixed;
    width: 77px;
    height: 77px;
    background: #E0245E;
    border-radius: 50%;
    z-index: 9999999;
}

.circli_8 {
    position: fixed;
    width: 66px;
    height: 66px;
    background: #E0245E;
    border-radius: 50%;
    z-index: 9999999;
}

.circli_9 {
    position: fixed;
    width: 40px;
    height: 40px;
    background: #EAA221;
    border-radius: 50%;
    z-index: 9999999;
}

.circli_10 {
    position: fixed;
    width: 88px;
    height: 88px;
    background: #EAA221;
    border-radius: 50%;
    z-index: 9999999;
}

.circli_11 {
    position: fixed;
    width: 77px;
    height: 77px;
    background: #E0245E;
    border-radius: 50%;
    z-index: 9999999;
}

.circli_12 {
    position: fixed;
    width: 66px;
    height: 66px;
    background: #E0245E;
    border-radius: 50%;
    z-index: 9999999;
}


.foot_img img {
    background: none;
    position: fixed;
    right: -4px;
    bottom: 0;
    transition: .6s ease transform;
    animation-name: thumb;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes thumb {
    0% {
        transform: rotate(11deg);
       
    }
    100% {
        transform: rotate(-11deg);
    }
}

.circli_1,
.circli_2,
.circli_3
{
    transition: .3s ease all;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.circli_1
{
    animation-name: c_1;
}
.circli_2
{
    animation-name: c_2;
}
.circli_3
{
    animation-name: c_3;
}


@keyframes c_1{
    0% {
        bottom: -5%;
        left: 50%;
        background: #e0245e;
    }
 
    100% {
        background: #eaa22159;
        bottom: -6%;
        left: 50%;
        transform: scale(.9);
    }
    
}
@keyframes c_2{
    0% {
        background: #e0245e;
        right: 0%;
        top: 25%;
        transform: scale(.5);
    }
  
    100% {
        right: 1%;
        top: 25%;
        transform: scale(0.5);
        background: #e0245e5e;
    }
}
@keyframes c_3{
    0% {
        background: #eaa221b8;
        left: 35%;
        top: 50%;
        transform: scale(.4);
    }
 
    100% {
        background: #e0245e5e;
        left: 35%;
        top: 52%;
        transform: scale(.5);
    }
}


.splide .splide__arrows .splide__arrow, 
.splide .splide__arrows .splide__arrow 
{
    position: unset;
}
.splide .splide__arrows .splide__arrow--next
{
    background: #ffffff;
}
.splide .splide__arrows .splide__arrow--prev,
.splide .splide__arrows .splide__arrow--next
{
    width: 3em;
    height: 3em;
    border: none;
    outline: none;
}
.splide .splide__arrows .splide__arrow--prev:hover,
.splide .splide__arrows .splide__arrow--next:hover
{
    background: #ffffff8a;
}

#ripple {
    position:relative;
    display:block;
}

#ripple img{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}




.splide .splide__arrows{
    position: absolute;
    bottom: -4em;
    right: 0;
    display: flex;
    height: 25px;
    column-gap: 20px;
    margin-bottom: 10px;
}
.splide .splide__pagination {
    justify-content: space-between;
    width: 100%;
    bottom: -14px;
}
.splide  .splide__pagination__page
{
    width: 16em;
    height: 4px;
    border-radius: 8px;
    margin: 0px 3px;
}
.splide  .splide__pagination__page.is-active {
    transform: scale(1);
}

.splide .splide__pagination__page {
    background: #cccccc47;
}

.display_btn {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    margin-bottom: 12px;
}

.typ_1 {
    width: auto;
    height: auto;
    padding: 12px;
    box-sizing: border-box;
    height: 28px;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.t1 {
    background: rgba(234, 162, 33, 0.16);
    color: #EAA221;
    margin-right: 13px;
}
.t2 {
    background: rgba(224, 36, 94, 0.16);
    color: #E0245E;
}