* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Gilroy';
    scroll-behavior: smooth;

}


body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.fg_center {
    width: 1224px;
    height: auto;
    margin: auto;
    box-sizing: border-box;
}


.bg_main {
    max-width: 100%;
    height: 100%;
    background: #0F1E31;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ================= NAVIGATION SECTION  ============ */
.nav {
    width: 100%;
    height: 100px;
    background: #0F1E31;
}

.nav_bar {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: auto;
    height: auto;
}

.logo a {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
    color: #FFFFFF;
}

.links {
    width: auto;
    max-height: 100%;
}

input[type=radio] {
    display: none;
}

.form {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 100px;
}

.form .link_1 label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* line-height: 100px; */
    color: #FFFFFF;
    cursor: pointer;
}


.bars {
    display: none;
}









.active::before {
    content: "&DownArrow;";
    position: relative;
    width: 1px;
    height: 24px;
    top: 70px;
    background: #F8C40C;
    border-radius: 50%;
    display: flex;
    margin: 0px 27px;
}

.active a {
    color: #eeeeee !important;
}


/* = sticky header */
.sticky {
    z-index: 9999;
    position: sticky;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 100px rgb(0 0 0 / 25%);
}

.show {
    left: 0px !important;
}

@media only screen and (max-width: 768px) {

    /* RESET NAV CODE */
    .items {
        width: initial;
        height: initial;
        display: initial;
        justify-content: initial;
        align-items: initial;
    }


    .items .list {
        height: initial;
        margin: initial;
        transition: .3s ease all;
    }

    .nav__list {
        width: initial;
        height: initial;
    }

    .active::before {
        content: initial;
        position: initial;
        width: initial;
        height: initial;
        top: initial;
        background: initial;
        border-radius: initial;
        display: initial;
        margin: initial;
    }

    /* CODE FOR RESPONSIVE SCREEN */
    .nav__list {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 70px;
        left: -100%;
        background: #333646;
        transition: .5s ease all;
        z-index: 9999;
        margin: auto;
        margin: 0px;
    }


    .box {
        display: flex;
        font-size: 36px;
        position: absolute;
        right: 0px;
        cursor: pointer;
    }

    .box i {
        color: #eeeeee;
        font-size: 36px;
    }

    .items {
        text-align: center;
        width: 100%;
        position: absolute;
        margin: 104px 0px;
    }

    .items .list {
        margin: 45px 0px;
    }

    .active::before {
        content: "";
        position: relative;
        width: 10px;
        height: 10px;
        top: 45px;
        background: #F8C40C;
        border-radius: 50%;
        display: flex;
        margin: auto;
    }


}

/* ================= END NAVIGATION SECTION  ============ */

/* -==== Constant objecct design-====== */

.heroe_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right_sec,
.left_sec {
    width: 100%;
    height: auto;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.purple {
    color: #E0245E;
}

.yellow {
    color: #EAA221;
}

.line {
    width: 177px;
    height: 4px;
    background: white;
    border: none;
    outline: none;
    margin: 50px 0px;
    display: block;
    border-radius: 50px;
}

.caption {
    display: flex;
    align-items: center;
    /* justify-content: stretch; */
    column-gap: 40px;
    width: auto;
    height: auto;
}

.caption>h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.caption .img_1 {
    font-size: 35px;
}

.caption>i {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.icons_top {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 31px;
    width: auto;
    height: auto;
    margin-top: 43px;
}

.icons_top a>i {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.right_sec>img {
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: bottom;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
}

.right_sec {
    display: flex;
    justify-content: flex-end;
}

.d_img {
    box-sizing: border-box;
    width: 450px;
    height: 536px;
    background-image: url(../img/me.png);
    background-repeat: no-repeat;
    background-position-x: -75px;
    background-position-y: -50px;
    background-size: auto;
    border: 10px solid white;
    border-radius: 14px;

}

.icons_top {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.s_t {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 25px 0px;
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.bxs-heart {
    color: #5DADEC;
    font-weight: 20px;
}

/* ================= HEROE SECTION  ============ */


.slide_container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
}

.img_head,
.text_head {
    width: 100%;
    height: auto;
}

.set_img_1 {
    width: auto;
    height: 500px;
    overflow: hidden;
}

.set_img_1>img {
    height: 500px;
}

.head_1 {
    font-size: 24px;
    font-weight: 600;
}

.project_head {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.line_1 {
    width: 150px;
    height: 4px;
    background: white;
    border: none;
    outline: none;
    display: block;
    border-radius: 50px;
}

.text_head {
    width: auto;
    height: auto;
}

.text_head .nums {
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 124px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #EAA221;
    /* position: absolute;
    right: 25px;
    top: 111px; */
}

/* style="width:1540px" */


.h1_hd {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    color: #FFFFFF;
}

.p_hd {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 45px;
}

.hd_btn {
    width: 200px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s ease linear;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 14px 16px;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.purple_col {
    background: #E0245E;
    margin-right: 30px;
    border: none;
}

.hd_btn:hover {
    filter: brightness(0.5);
}

.flex {
    display: flex;
    column-gap: 20px;
    align-items: center;
}


.p_hd {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 50px 0px;
}

.text_1 {
    width: 100%;
    height: auto;
}

.text_1>p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    color: #FFFFFF;
}

.yellow1 {
    color: #EAA221;
    text-decoration: underline;
}

.lk {
    color: white;
    text-decoration: underline;
}


.circli_1 {
    position: fixed;
    width: 88px;
    height: 88px;
    /* left: 698px; */
    /* bottom: 0px; */
    background: #EAA221;
    border-radius: 50%;
    z-index: 9999999;
}

.circli_2 {
    position: fixed;
    width: 77px;
    height: 77px;
    /* left: 698px; */
    /* bottom: 0px; */
    background: #E0245E;
    border-radius: 50%;
    z-index: 9999999;
}

.circli_3 {
    position: fixed;
    width: 66px;
    height: 66px;
    /* left: 698px; */
    /* bottom: 0px; */
    background: #E0245E;
    border-radius: 50%;
    z-index: 9999999;
}

.circli_4 {
    position: fixed;
    width: 40px;
    height: 40px;
    /* left: 698px; */
    /* bottom: 0px; */
    background: #EAA221;
    border-radius: 50%;
    z-index: 9999999;
}

.foot_img img {
    background: none;
    position: fixed;
    right: -4px;
    bottom: 0;
    transition: .6s ease transform;
    
    animation-name: thumb;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes thumb {
    0% {
        transform: rotate(11deg);
       
    }
    100% {
        transform: rotate(-11deg);
    }
}

.circli_1,
.circli_2,
.circli_3,
.circli_4
{
    transition: .6s ease transform;
    animation-name: circles;
    animation-duration: 8.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes circles {
    0% {
        bottom: 0;
        left: 698px;
    }
    10% {
        bottom: 100px;
        left: 698px;
    }
    20% {
        bottom: 50;
        left: 68px;
    }
    30% {
        bottom: 400px;
        left: 8px;
    }
    40% {
        top: 0px;
        right: 8px;
    }
    50% {
        top: 200px;
        right: -8px;
    }
    60% {
        top: 500px;
        right: 400px;
    }
    70% {
        bottom: 100px;
        left: 300px;
    }
    80% {
        bottom: 110px;
        left: 689px;
    }
    90% {
        bottom: -100px;
        left: 890px;
    }
    100% {
        bottom: 0px;
        left: 30px;
    }
}
@keyframes circles {
    0% {
        bottom: 0;
        left: 698px;
    }
    10% {
        bottom: 100px;
        left: 698px;
    }
    20% {
        bottom: 50;
        left: 68px;
    }
    30% {
        bottom: 400px;
        left: 8px;
    }
    40% {
        top: 0px;
        right: 8px;
    }
    50% {
        top: 200px;
        right: -8px;
    }
    60% {
        top: 500px;
        right: 400px;
    }
    70% {
        bottom: 100px;
        left: 300px;
    }
    80% {
        bottom: 110px;
        left: 689px;
    }
    90% {
        bottom: -100px;
        left: 890px;
    }
    100% {
        bottom: 0px;
        left: 30px;
    }
}
@keyframes circles {
    0% {
        bottom: 0;
        left: 698px;
    }
    10% {
        bottom: 100px;
        left: 698px;
    }
    20% {
        bottom: 50;
        left: 68px;
    }
    30% {
        bottom: 400px;
        left: 8px;
    }
    40% {
        top: 0px;
        right: 8px;
    }
    50% {
        top: 200px;
        right: -8px;
    }
    60% {
        top: 500px;
        right: 400px;
    }
    70% {
        bottom: 100px;
        left: 300px;
    }
    80% {
        bottom: 110px;
        left: 689px;
    }
    90% {
        bottom: -100px;
        left: 890px;
    }
    100% {
        bottom: 0px;
        left: 30px;
    }
}
@keyframes circles {
    0% {
        bottom: 0;
        left: 698px;
    }
    10% {
        bottom: 100px;
        left: 698px;
    }
    20% {
        bottom: 50;
        left: 68px;
    }
    30% {
        bottom: 400px;
        left: 8px;
    }
    40% {
        top: 0px;
        right: 8px;
    }
    50% {
        top: 200px;
        right: -8px;
    }
    60% {
        top: 500px;
        right: 400px;
    }
    70% {
        bottom: 100px;
        left: 300px;
    }
    80% {
        bottom: 110px;
        left: 689px;
    }
    90% {
        bottom: -100px;
        left: 890px;
    }
    100% {
        bottom: 0px;
        left: 30px;
    }
}
@keyframes circles {
    0% {
        bottom: 0;
        left: 698px;
    }
    10% {
        bottom: 100px;
        left: 698px;
    }
    20% {
        bottom: 50;
        left: 68px;
    }
    30% {
        bottom: 400px;
        left: 8px;
    }
    40% {
        top: 0px;
        right: 8px;
    }
    50% {
        top: 200px;
        right: -8px;
    }
    60% {
        top: 500px;
        right: 400px;
    }
    70% {
        bottom: 100px;
        left: 300px;
    }
    80% {
        bottom: 110px;
        left: 689px;
    }
    90% {
        bottom: -100px;
        left: 890px;
    }
    100% {
        bottom: 0px;
        left: 30px;
    }
}